@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');



html body {
  font-family: 'Rubik', sans-serif;
  background: black;
  color: white;
  line-height: 1.7;
  overflow-x: hidden;
  background-image: url(nbi.jpg);
  background-repeat:inherit;
 
}


.text {
  font-size: 40px;
  display: flex;  
  justify-content: center;
  align-content: center;
  position: relative;
  top:200px;
  
}
.text2 {
  font-size: 30px;
  display: flex;  
  justify-content: center;
  align-content: center;
  position: relative;
  top:200px;
}
.text3 {
  font-size: 20px;
  display: flex;  
  justify-content: center;
  align-content: center;
  position: relative;
  top:200px;
}

.searchTerm {
  display: flex;  
  justify-content: center;
  align-content: center;
 padding-right: 30px;


 font-size: 30px;
 size: 900px;
 padding: 10px 10px;
 width: 500px;
 position: absolute;
 left: 300px;
 top: 500px;

}

.signIn {
  background-color: #ff0000; 
  color: white;
  padding: 6px 12px;
  font-size: 13px;
   display: flex;
   justify-content: flex-end;
   border-radius: 5px;

  position: absolute;
  left: 1180px;
  top: 20px;
}
 





.getStarted {
  background-color: #ff0000; 
  color: white;
  padding: 16px 32px;
  
  font-size: 20px;
  position: absolute;
 left: 820px;
 top: 500px;


}

.logo {
  width: 130px;
  padding-left: 40px;
}


